@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
header{
  width: 100%;
  height: 78px;
  //line-height: 78px;
  background: #1c1c1e;
  ul{
    width: 500px;
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 25px 0 0 0;
    a{
      color: #727271;
      font-size: 12px;
    }
    li:hover{
      cursor: pointer;
      color: #cda303;
      border-bottom: 4px solid #cda303;
      a:hover{
        color: #cda303;
      }
    }
  }
}
.banner1{
  width: 100%;
  .lt{
    background: url("../img/官网首页切图/轮胎_02.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 676px;
    .jz{
      width: 100%;
      height: 676px;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        color: #e8f5ff;
        //font-family: "Arial Rounded MT bold";
        font-size: 48px;
        display: block;
        text-align: center;
      }
      p:nth-of-type(1){
        font-size: 48px;
        span{
          color: #f1c40f;
        }
      }
    }

  }
  .swiper-pagination{
    /*.swiper-pagination-bullet-activet{
      width: 74px;
      height: 4px;
      background: #f1c40f;
      border-radius: 2px;
      opacity: 0.8;
    }*/
    .swiper-pagination-bullet{
      width: 74px;
      height: 4px;
      background: #f1c40f;
      border-radius: 2px;
      //opacity: 0.8;
    }
  }

}
.about{
  background: url("../img/官网首页切图/轮胎_03.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 362px;
  .us{
    p:nth-of-type(1){
      font-size: 40px;
      padding: 52px 0 44px 0;
      line-height: 40px;
      font-weight: bold;
      text-align: center;
    }
    p:nth-of-type(2){
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #748890;
      margin-bottom: 10px;
    }
    p:nth-of-type(3){
      width: 164px;
      height: 36px;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      color: #727271;
      border-radius: 2px;
      border: 1px solid #727271;
      margin: auto;
    }
  }
}
.hei{
  width: 100%;
  height: 688px;
  background: #121212;
  .bt{
    width: 100%;
    padding: 0 225px 0 225px;
    box-sizing: border-box;
    a{
      color: #f1c40f;
      margin-bottom: 108px;
    }
    a:nth-of-type(1){
      font-size: 30px;
      float: left;
      margin-top: 92px;
      padding-bottom: 16px;
      border-bottom: 4px solid #f1c40f;
      //border-height: 44px;
    }
    a:nth-of-type(2){
      width: 86px;
      height: 32px;
      line-height: 32px;
      font-size: 15px;
      border: 1px solid #5d5d5c;
      float: right;
      margin-top: 100px;
      text-align: center;
      border-radius: 2px;
    }
  }
  .jz{
    width: 100%;
    padding: 0 225px 0 225px;
    box-sizing: border-box;
    .banner2{
      width: 100%;
      .bj1{
        width: 342px;
        height: 256px;
        background: url("../img/官网首页切图/图层4.png") no-repeat center;
        background-size: 100%;
        position: relative;
        //bottom: 0;
        div{
          width: 342px;
          height: 80px;
          /*//line-height: 20px;
          vertical-align: middle;*/
          color: #fff;
          position: absolute;
          bottom: 0;
          p{
            padding-left: 20px;
            padding-top: 10px;
          }
          p:nth-of-type(1){
            font-size: 20px;
          }
          p:nth-of-type(2){
            font-size: 12px;
          }
        }
        div:hover{
          background: #f1c40f;
          width: 342px;
          height: 80px;
          color: #5c4d11;
          cursor: pointer;
        }
      }
      .bj2{
        width: 342px;
        height: 256px;
        background: url("../img/官网首页切图/图层7.png") no-repeat center;
        background-size: 100%;
        position: relative;
        div{
          width: 342px;
          height: 80px;
          /*//line-height: 20px;
          vertical-align: middle;*/
          color: #fff;
          position: absolute;
          bottom: 0;
          p{
            padding-left: 20px;
            padding-top: 10px;
          }
          p:nth-of-type(1){
            font-size: 20px;
          }
          p:nth-of-type(2){
            font-size: 12px;
          }
        }
        div:hover{
          background: #f1c40f;
          width: 342px;
          height: 80px;
          color: #5c4d11;
          cursor: pointer;
        }
      }
      .bj3{
        width: 342px;
        height: 256px;
        background: url("../img/官网首页切图/图层6.png") no-repeat center;
        background-size: cover;
        position: relative;
        div{
          width: 342px;
          height: 80px;
          /*//line-height: 20px;
          vertical-align: middle;*/
          color: #fff;
          position: absolute;
          bottom: 0;
          p{
            padding-left: 20px;
            padding-top: 10px;
          }
          p:nth-of-type(1){
            font-size: 20px;
          }
          p:nth-of-type(2){
            font-size: 12px;
          }
        }
        div:hover{
          background: #f1c40f;
          width: 342px;
          height: 80px;
          color: #5c4d11;
          cursor: pointer;
        }
      }
      .swiper-slide{
        width: 342px;
      }
    }

  }
}
.contact{
  width: 100%;
  height: 250px;
  background: #f1c40f;
  color: #fff;
  div{
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 68px;
    p:nth-of-type(1){
      padding-bottom: 26px;
      font-size: 40px;
    }
    p:nth-of-type(2){
      font-size: 18px;
      color: #121212;
      background: white;
      width: 180px;
      height: 52px;
      line-height: 52px;
      border-radius: 2px;
      margin: auto;
    }
  }
}
.tu{
  ul{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 214px;
    box-sizing: border-box;
    img{
      width: 100%;
    }
    li:nth-of-type(1){
      padding-right: 132px;
    }
    li:nth-of-type(6){
      padding-left: 132px;
    }
  }
}
.sub{
  width: 100%;
  height: 524px;
  background: #121212;
  display: flex;
  padding: 0 214px;
  box-sizing: border-box;
  //justify-content: space-between;
  .us2{
    width: 65%;
    box-sizing: border-box;
    .lx{
      .l-p1{
        width: 200px;
        padding-top: 110px;
        font-size: 40px;
        color: #f1c40f;
        padding-bottom: 10px;
        border-bottom: 4px solid #f1c40f;
        margin-right: 490px;
      }
      .fs{
        li{
          display: flex;
          justify-content: left;
          align-items: center;
        }
        li:nth-of-type(1){
          margin-top: 36px;
        }
        li:nth-of-type(2){
          margin-top: 36px;
        }
        li:nth-of-type(3){
          margin-top: 42px;
        }
        p{
          font-size: 15px;
          color: #5e5b5b;
          margin-left: 15px;
        }
      }
      .ds{
          //width: 75%;
          display: flex;
          justify-content: space-between;
          padding-right: 308px;
          margin-top: 42px;
      }
    }
  }
  .mit{
    padding-top: 110px;
    .kuang1{
      width: 348px;
      height: 48px;
      border: 1px solid #dddddd;
      padding: 0 14px;
      background: #f2f2f4;
      margin-bottom: 20px;
      input{
        display: block;
        border: 0;
        width: 330px;
        height: 35px;
        color: #5e5b5b;
        margin-top: 6px;
        outline: none;
        background: #f2f2f4;
      }
    }
    .kuang2{
      width: 348px;
      height: 48px;
      border: 1px solid #dddddd;
      padding: 0 14px;
      background: #f2f2f4;
      margin-bottom: 20px;
      input{
        display: block;
        border: 0;
        width: 330px;
        height: 35px;
        color: #5e5b5b;
        margin-top: 6px;
        outline: none;
        background: #f2f2f4;
      }
    }
    .kuang3{
      width: 348px;
      height: 116px;
      border: 1px solid #dddddd;
      padding: 15px 14px 0 14px;
      margin-bottom: 10px;
      background: #f2f2f4;
      color: #5e5b5b;
      font-size: 15px;
    }
    button{
      width: 378px;
      height: 48px;
      line-height: 48px;
      outline: none;
      border: 1px solid #f1c40f;
      font-size: 16px;
      color: white;
      background: #f1c40f;
    }
  }
}
footer{
  width: 100%;
  height: 106px;
  line-height: 106px;
  background: #222222;
  text-align: center;
  color: #5e5b5d;
  font-size: 13px;
}